@use 'base';

header {
    padding: 30px;
    display: flex;
    align-items: center;

    img {
        width: 75px;
        height: 75px;
    }

    h1 {
        margin-left: 15px;
        font-size: 2*base.$font-size
    }

    nav {
        flex-grow: 2;
        display: flex;
        align-self: flex-start;
        justify-content: flex-end;

         a {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            width: 75px;
         }
    }

    #icon-wrapper {
        display: none;
        border: 2px black solid;
        border-radius: 15px;
        padding: 6px;
        background-color: beige;
    }

    .icon-line {
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 7px 5px;
    }
}

main {
    display: flex;
    padding: 15px;

    article {
        background-color: beige;
        display: flex;
        flex-direction: column;
        margin: 15px;
        border: 2px black solid;

        .article-title {
            border-bottom: 2px black solid;
            border-left: 2px black solid;
            height: 50px;
            width: 50%;
            align-self: flex-end;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5*base.$font-size
        }

        .article-content {
            text-align: justify;
            padding: 30px;
        }

        #first-title {
            background-color: turquoise;
        }

        #second-title {
            background-color: orange;
        }

        #third-title {
            background-color: pink;
        }
    }
}

footer {
    background-color: beige;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 2px black solid;
    border-bottom: 2px black solid;

    strong {
        font-weight: bold;
    }
}

//tablet
@media only screen and (max-width: 1023px) {
    header {
        nav {
            a {
                display: none;
            }
            #icon-wrapper {
                display: block;
            }
        }
    }

    main {
        flex-wrap: wrap;
        
        article {
            flex: 1 0 40%;

            .article-title {
                width: 200px;
            }
        }

        #first-article {
            flex: 0 1 100%;
        }
    }
}


//smartphone
@media only screen and (max-width: 599px) {
    header {
        padding-bottom: 0px;
        h1 {
            display: none;
        }
    }

    main {
        flex-wrap: wrap;
        
        article {
            flex: 0 1 100%;
        }
    }
}