img {
    height: 120px;
}

#delete {
    background-color: rgba(255, 0, 0, 0.0);
    border: none;
    margin: 5px;
    font-size: 14px;
    color: red;
}

#edit {
    background-color: rgba(255, 0, 0, 0.0);
    border: none;
    color: white;
    margin: 5px;
    font-size: 14px;
}

td input{
    margin: 0px;
    font-size: 17px;
}